[root] {
  display: flex;
  flex-flow: column;
  background-color: var(--hand-fill);
  color: var(--text);
  width: 100vw;
  height: 100vh;

  [controls] {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      justify-content: center;
    }

    div[progress] {
      display: flex;
      align-content: center;
      align-items: center;
      height: 60px;
      flex: 1;
      padding-right: 10px;
    }

    ::ng-deep .mat-progress-bar-buffer {
      background-color: rgba(0, 0, 0, 0.5);
    }

    ::ng-deep .mat-progress-bar-fill::after {
      background-color: yellow;
    }
  }

  [elements] {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    [elemView] {
      position: absolute;
      display: flex;
      flex-flow: column;
      width: 90vw;
      height: 80vh;
      max-height: 80vh;
      background-color: var(--hand-fill);
      border: 10px solid rgba(0, 0, 0, 0.2);
      overflow: hidden;

      .snow {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        ::ng-deep .flake {
          transform-origin: top left;
          font-size: 1em;
          position: absolute;
          width: 100%;
          height: 100%;
          color: white;
        }
      }

      [elemPanel] {
        display: flex;
        flex-flow: column;
        flex: 1;
        overflow-y: hidden;

        [elemLine] {
          overflow: hidden;
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          flex: 1;

          [name] {
            display: flex;
            font-size: 10em;
            font-weight: bold;
            padding: 0.5em;
          }


          img {
            width: 15em;
            margin: 2em;
          }
        }

        [propPanel] {

          [props] {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
            justify-content: space-between;
            padding: 1em;
            gap: 1em;
            flex: 1;

            [prop] {
              display: flex;
              flex-flow: column wrap;

              [propName] {
                font-size: 2em;
              }

              [propValue] {
                font-size: 3.5em;
                font-weight: bold;
              }
            }
          }
        }

      }

      [timeout] {
        position: absolute;
        top: 1em;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      cursor: pointer;
    }
  }
}
