[root] {
  --mdc-theme-text-primary-on-background: white;

  display: flex;
  flex-flow: column;
  background-color: var(--hand-fill);
  color: var(--text);
  width: 100vw;
  height: var(--doc-height);

  [prologPage] {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: var(--doc-height);
    width: 100vw;
    font-size: 3em;
    font-weight: bold;
    background-color: var(--prolog-back);
    color: var(--prolog-fore);
    background-image: url("/assets/images/prolog-back.png");
    background-size: 700px;

    [row] {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      width: 100%;
    }

    [row][title] {
      flex-flow: column;
    }

    [feet] {
      display: flex;

      svg {
        height: 128px;
      }

      [left] {
        --fd: calc(var(--footDist) * -1);
        transform-origin: center 110px;
        transform: translateX(var(--fd));
      }

      [right] {
        transform-origin: center bottom;
        transform: translateX(var(--footDist));
      }
    }
  }

  [startPage] {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: var(--doc-height);
    width: 100vw;
    background-color: var(--5elemstart-back);
    color: var(--5elemstart-fore);

    [name] {
      font-size: 4em;
      font-weight: bold;
    }

    [controls] {
      display: flex;
      flex-flow: row;
      flex: 1;
      align-items: center;
      justify-content: space-between;

      .mat-icon-button, img {
        width: 100px;
        height: 100px;
      }

      button {
        color: var(--5elemstart-fore);
      }

      div {
        display: flex;
        justify-content: center;
      }

      div[progress] {
        display: flex;
        align-content: center;
        align-items: center;
        height: 60px;
        flex: 1;
        padding-right: 10px;
      }

      ::ng-deep .mat-progress-bar-buffer {
        background-color: rgba(0, 0, 0, 0.5);
      }

      ::ng-deep .mat-progress-bar-fill::after {
        background-color: yellow;
      }
    }

    [group] {
      display: flex;
      flex-flow: column;
      flex: 1;
      align-items: center;
      justify-content: flex-start;

      [controls] {
        flex: 0;
      }

      [vert] {
        display: flex;
        flex-flow: column;

        mat-slide-toggle {
          margin-bottom: 0.5em;
        }

        div {
          margin-top: 1em;
        }
      }
    }

    [back] {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }

  [elements] {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    [controls] {
      opacity: 0.1;
      display: flex;
      flex-flow: row;
      align-items: flex-start;
      justify-content: flex-start;
      position: absolute;
      top: 0;
      width: 100%;
    }

    [controls]:hover {
      opacity: 1;
    }

    [elemView] {
      position: absolute;
      display: flex;
      flex-flow: column;
      width: 90vw;
      height: 80vh;
      max-height: 80vh;
      background-color: var(--hand-fill);
      border: 10px solid rgba(0, 0, 0, 0.2);
      overflow: hidden;

      [elemPanel] {
        display: flex;
        flex-flow: column;
        flex: 1;
        overflow-y: hidden;

        [elemLine] {
          overflow: hidden;
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          flex: 1;

          [imgPanel] {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
          }

          [name] {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            font-size: 8em;
            font-weight: bold;
            padding: 0.5em;
          }


          img {
            width: 15em;
            margin: 2em;
          }
        }

        [propPanel] {

          [props] {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
            justify-content: space-between;
            padding: 1em;
            gap: 1em;
            flex: 1;

            [prop] {
              display: flex;
              flex-flow: column wrap;

              [propName] {
                font-size: 2em;
              }

              [propValue] {
                font-size: 3.5em;
                font-weight: bold;
              }
            }
          }
        }

      }

      cursor: pointer;
    }
  }

  [timeout] {
    &.e4 {
      color: black;
      --c: white;
    }

    &.e2 {
      color: black;
      --c: yellow;
    }

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;

    --c: #000;
    --v: 2px;
    --v-: -2px;
    color: white;
    text-shadow: var(--v) var(--v) 0 var(--c),
    var(--v) var(--v-) 0 var(--c),
    var(--v-) var(--v) 0 var(--c),
    var(--v-) var(--v-) 0 var(--c),
    var(--v) 0 0 var(--c),
    0 var(--v) 0 var(--c),
    var(--v-) 0 0 var(--c),
    0 var(--v-) 0 var(--c);
  }
}
